body {
	background-color: lightgray;
}
.board {
	text-align: center;
}
.board h1 {
	display: inline-block;
}
.create-column {
	margin-left: 20px;
}
.column-container {
	display: inline-block;
	margin-top: 20px;
}
.column {
	display: inline-block;
	float: left;
	width: 350px;
	margin-right: 10px;
	margin-left: 10px;
	border-style: solid;
	border-radius: 5%;
	border-color: gray;
}
.column > ul > li {
	text-align: left;
}
.column-title {
	display: inline-block;
}
.add-card {
	margin-left: 10px;
}
.btn-delete {
	margin-left: 10px;
}
.card-description {
	display: inline-block;
}
button {
	border-color: white;
	border-radius: 8px;
}